/*
 * SPDX-License-Identifier: CC0-1.0
 * SPDX-FileCopyrightText: NONE
 */

:root {
  --separator-color: #4A4A4A;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: #181818;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: black;
    background-color: whitesmoke;
  }
}

body {
  font-family: sans-serif;
  margin: 0;
}

a {
  color: steelblue;
  text-decoration: none;
}

/* Right-align (LTR) elements in a flexbox. */
.right {
  margin-inline-start: auto;
}

.vertical-bar {
  margin-inline: 0.5em;
  border-inline-start: 1px solid var(--separator-color);
}

#topnav {
  background-color: #333;
  border-block-end: 1px solid var(--separator-color);
  clear: both;
  color: white;
  display: flex;
  margin: 0 auto;
  padding-block: 0.5em;
  padding-inline: 10px;
  text-align: center;
}

#topnav a {
  color: white;
  font-size: 1.1em;
  padding: 0.1em;
}

#topnav a:hover {
  color: steelblue;
}

#topnav .icon {
  height: 26px;
  vertical-align: middle;
}

#footer {
  border-block-start: 1px solid var(--separator-color);
  display: flex;
  font-size: 0.8em;
  margin: 0 auto;
  padding-block: 0.5em;
  padding-inline: 10px;
}

#content {
  padding-inline: 10px;
}
