/*
 * SPDX-License-Identifier: CC0-1.0
 * SPDX-FileCopyrightText: NONE
 */

body {
  font-family: sans-serif;
  margin: 0;
}

a {
  color: steelblue;
  text-decoration: none;
}

/* Right-align (LTR) elements in a flexbox. */
.right {
  margin-inline-start: auto;
}

.vertical-bar {
  margin-inline: 0.5em;
  border-inline-start: 1px solid;
}

#topnav {
  background-color: #333;
  clear: both;
  color: white;
  display: flex;
  margin: 0 auto;
  padding-block: 0.5em;
  padding-inline: 10px;
  text-align: center;
}

#topnav a {
  color: white;
  font-size: 1.1em;
  padding: 0.1em;
}

#topnav a:hover {
  color: steelblue;
}

#topnav .icon {
  height: 26px;
  vertical-align: middle;
}

#footer {
  border-block-start: 1px solid;
  color: black;
  display: flex;
  font-size: 0.8em;
  margin: 0 auto;
  padding-block: 0.5em;
  padding-inline: 10px;
}

#content {
  padding-inline: 10px;
}
